.key {
	width: 120px;
	height: 90px;
	border: none;
	font-size: 35px;
	color: black;
	background-color: var(--background-color-numeric);
}

.key:focus {
	color: var(--background-color-operation);
}

.key:nth-last-child(-n + 3) {
	color: white;
	background-color: var(--background-color-operation);
}

.key:nth-last-child(-n + 3):focus {
	background-color: var(--background-color-operation-focus);
}
