.key {
  width: 120px;
  height: 90px;
  border: none;
  font-size: 35px;
  color: #000;
  background-color: #eceff1;
}

.key:focus {
  color: #ff5722;
}

.key:nth-last-child(-n + 3) {
  color: #fff;
  background-color: #ff5722;
}

.key:nth-last-child(-n + 3):focus {
  background-color: #ff8a50;
}
