:root {
  --font-default: monospace;
  --background-color-display: #26c6da;
  --background-color-numeric: #eceff1;
  --background-color-operation: #ff5722;
  --background-color-operation-focus: #ff8a50;
}

body {
  box-sizing: border-box;
  font-family: monospace;
}

button {
  font-family: inherit;
}

button:focus {
  outline: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
